name: CI

on:
  push:
    branches:
    - 'master'
  pull_request:
    branches:
     - '**'
  repository_dispatch:
    types: [connexions-merge]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Copy specs
        run: |
          mkdir documents
          cp -r ./3.*/* documents
